<!DOCTYPE html>
<html>
<head>
  <title>Coder Pinterest</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
  	<% if logged_in? %>

  	<div class="dropdown">
 
    <button id="dropdownMenu1" class="btn btn-default dropdown-toggle pull-right" type="button" data-toggle="dropdown" aria-expanded="true">
    <%= "#{current_user.first_name} " %><span class="caret"></span></button>
 
    <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">

    <% current_user.boards.each do |board| %>
        <li role="presentation">
        <a role="menuitem" tabindex="-1" href="/boards/<%= board.id %>">
        <%= board.name %></a></li>
    <%end%>

        <li role="presentation" class="divider"></li>
        <li role="presentation">
          <%= link_to "Add a Pin", new_pin_path, "role" => "menuitem", "tabindex" => "-1" %></li>

        <li role="presentation" class="divider"></li>
        <li role="presentation">
          <%= link_to "Add a Board", new_board_path, "role" => "menuitem", "tabindex" => "-1" %></li>

        <li role="presentation" class="divider"></li>
        <li role="presentation">
          <%= link_to "People You Follow", followers_path, "role" => "menuitem", "tabindex" => "-1" %></li>

        <li role="presentation" class="divider"></li>
        <li role="presentation">
          <%= link_to "Add a Follower", new_follower_path, "role" => "menuitem", "tabindex" => "-1" %></li>

        <li role="presentation" class="divider"></li>
        <li role="presentation">
          <%= link_to "All Boards", boards_path, "role" => "menuitem", "tabindex" => "-1" %></li>

        <li role="presentation" class="divider"></li>
        <li role="presentation">
          <%= link_to "All Pins", root_path, "role" => "menuitem", "tabindex" => "-1" %></li>

        <li role="presentation" class="divider"></li>
        <li role="presentation">
          <%= link_to "Logout", logout_path(current_user), :method => :delete, "role" => "menuitem", "tabindex" => "-1" %></li>
    </ul>
 
</div>
  	<%end%>


    <%= yield %>
  </div>
</body>
</html>
